body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.65;
  margin: 0;
  color: #234;
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: #234;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #0c6;
}

a.sourceLink {
  font-size: 12px;
  color: inherit;
  border: none;
  text-decoration: underline;
}

a:hover {
  /* text-decoration: underline; */
  color: #0c6;
}


code {
  display: inline-block;
  padding: 0 1px;
  color: #678;
  font-family: Menlo, sans-serif;
}

#modules {
  position: absolute;
  top: 0; left: 0; bottom: 0; width: 20vw;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: #f7f9fc; */
  border-right: 1px solid #42e;
  line-height: 1.75;
}

#modules h4, #members h4 {
  text-transform: uppercase;
  color: #9ab;
  font-size: 0.8em;
  font-weight: 600;
  margin: 30px 0 0px;
}

#modules .item {
  cursor: pointer;
}

#modules .item:hover {
  color: #42e;
}

#modules .ts {
  color: #9ab;
}

#modules .selected {
  color: #42e;
}


#members {
  position: fixed;
  top:0; left: 20vw; bottom: 0;
  padding: 20px;
  border-right: 1px solid #0c6;
  font-size: 1em;
  font-weight: 400;
  width: 20vw;
  box-sizing: border-box;
  overflow: auto;
}

#members .inherits {
  color: #9ab;
  font-weight: 400;
}

#members.collapsed {
  display: none;
}

#members span {
  cursor: pointer;
}

#members span:hover {
  color: #0c6;
}


#contents {
  position: absolute;
  top: 0; left: 20vw; bottom: 0; right: 0;
  overflow: auto;
  padding: 20px 50px;
  box-sizing: border-box;
}


#contents.expanded {
  left: 40vw;
}


#contents p {
  max-width: 700px;
}

#contents .param {
  font-weight: normal;
  color: #9ab;
  /* font-size: 0.8em; */
}


#contents .signature {
  display: flex;
  flex-direction: row;
  max-width: 700px;
}

#contents .signature > .label {
  padding-right: 20px;
  min-width: 100px;
  max-width: 100px;
  color: #0c6;
}

#contents p {
  margin-bottom: 0;
}

#contents .top_info {
  margin-top: 1.5em;
  margin-bottom: 3px;
}

#contents .misc {
  color: #9ab;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 1em;
}



#contents .signature > .info {
  flex: 10 1 auto;
}

#contents .signature p {
  margin-bottom: 1.2em;
  line-height: 1.4;
}

#contents h4 {
  margin-top: 45px;
  margin-bottom: 10px;
}



h1 {
  font-weight: 300;
  font-size: 4.2em;
  margin-bottom: 0;
  line-height: 1.2;
}

h3 {
  font-weight: 300;
  font-size: 2.4em;
  margin-top: 45px;
  margin-bottom: 0;
}

h4 {
  font-size: 1.4em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

.token {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 9px;
  padding: 3px 5px;
  margin-right: 3px;
  line-height: 1;
  font-weight: 500;
  border: 1px solid #678;
  color: #678; 
  
}

.typedef {
  color: #9ab;
  letter-spacing: 0.05em;
}

.paramdef {
  font-weight: bold;
}