<html>
  <head>
    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/marked.min.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>

    <div id="header">
      <div id="pts"><a href="../">Pts<span>.</span></a>docs</div>
      <div id="search">
        <input type="text" placeholder="Search..." />
      </div>
      <div id="topmenu">
        <a href="../guide/Get-started-0100.html"/>guides</a>
        <a href="../demo/index.html"/>demos</a>
        <a href="../study/index.html"/>studies</a>
        <a href="https://github.com/williamngan/pts"/>github</a>
      </div>
    </div>
    
    <div id="docapp" v-cloak>

      <div id="modules">
          <div v-for="m in modules">
            <h4>{{ m[0] }}</h4>
            <div class="item" v-for="c in m[1]" v-on:click="loadClass( m[0], c )">
              <span v-bind:class="{selected: m[0]+'_'+c === selected, ts: m[0] === 'Types' }">{{ c }}</span>
            </div>
          </div>
      </div>

      <div id="members" v-bind:class="{collapsed: contents.count <= 5}">
        <h4 v-if="contents.constructor && contents.constructor.length > 0">Constructor</h4>
        <div v-for="m in contents.constructor">
          <span v-bind:class="{inherits: m.inherits}" v-on:click="jumpTo( 'constructor_'+m.name )">{{ contents.name }}</span>
        </div>

        <h4 v-if="(contents.variables && contents.variables.length > 0) || (contents.properties && contents.properties.length > 0)">Internal Properties</h4>
        <div v-for="m in contents.variables">
          <span v-bind:class="{inherits: m.inherits}" v-on:click="jumpTo( 'property_'+m.name )">{{ m.name }}</span>
        </div>
        <div v-for="m in contents.properties">
          <span v-bind:class="{inherits: m.inherits}" v-on:click="jumpTo( 'property_'+m.name )">{{ m.name }}</span>
        </div>

        <h4 v-if="contents.accessors && contents.accessors.length > 0">Accessors</h4>
        <div v-for="m in contents.accessors">
          <span v-bind:class="{inherits: m.inherits}" v-on:click="jumpTo( 'accessor_'+m.name )">{{ m.name }}</span>
        </div>

        <h4 v-if="contents.methods && contents.methods.length > 0">Methods</h4>
        <div v-for="m in contents.methods">
          <span v-bind:class="{inherits: m.inherits}" v-on:click="jumpTo( 'function_'+m.name )">{{ m.name }}</span>
        </div>

        <h4 v-if="contents.type_alias && contents.type_alias.length > 0">Types</h4>
        
      </div>
      
      <div id="contents" v-bind:class="{expanded: contents.count > 5}">

        <h1>{{ contents.name }}</h1>
        
        <div class="top_info" v-html="md(contents.comment)"></div>
        <div class="misc">
          <span v-if="contents.kind" :class="'token t_'+contents.kind">{{ contents.kind }}</span>
          <span v-if="contents.extends && contents.extends.length > 0">extends {{ contents.extends.join(", ") }}</span>
          <span v-if="contents.implements && contents.implements.length > 0">implements {{ contents.implements.join(", ") }}</span>
          <span v-if="showSource(contents.source)"> in <a class="sourceLink" v-bind:href="source(contents.source)">{{contents.source[0][0]}}</a></span>
        </div>
        
        
        <div v-if="contents.constructor && contents.constructor.length > 0">
          <h3>Constructor</h3>
          <div v-for="m in contents.constructor">
            <h4 v-bind:id="'constructor_'+m.name">new {{ contents.name }} <span class="param">( {{ params(m.signatures) }} )</span></h4>
            
            <div>
                <div v-for="s in first(m.signatures)">
                  
                  <div class="description" v-html="md(s.comment)"></div>
                  <div class="misc">
                    <span v-if="m.overrides">Extends&nbsp;<code>`{{ m.overrides }}`</code></span>
                    <span v-if="m.inherits">Inherited from&nbsp;<code>`{{ m.inherits }}`</code></span>
                    <span v-if="showSource(m.source)"> in <a class="sourceLink" v-bind:href="source(m.source)">{{m.source[0][0]}}</a></span>
                  </div>
                
                  <div class="signature" v-if="s.parameters.length > 0">
                    <div class="label">Parameters</div>
                    <div class="info">
                      <div v-for="p in s.parameters">
                        <span><span class="paramdef">{{ p.name }}</span>: <span class="typedef">{{ p.type}}</span></span> 
                        <div v-html="md(p.comment)"></div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="signature">
                    <div class="label">Returns</div>
                    <div class="info">An instance of {{ contents.name }}</div>
                  </div>
                
                </div>
              </div>
          </div>
        </div>


        <div v-if="(contents.variables && contents.variables.length > 0) || (contents.properties && contents.properties.length > 0)">
          <h3>Internal Properties</h3>
          <div v-for="m in contents.variables">
            <h4 v-bind:id="'property_'+m.name">
              {{ m.name }} 
            </h4>
            <div v-html="md(m.comment)"></div>
            <div class="misc">
                <span v-if="m.overrides">Overrides&nbsp;<code>`{{ m.overrides }}`</code></span>
                <span v-if="m.inherits">Inherited from&nbsp;<code>`{{ m.inherits }}`</code></span>
                <span v-if="showSource(m.source)"> in <a class="sourceLink" v-bind:href="source(m.source)">{{m.source[0][0]}}</a></span>
            </div>
          </div>

          <div v-for="m in contents.properties">
            <h4 v-bind:id="'property_'+m.name">
              {{ m.name }}
            </h4>
            <div v-html="md(m.comment)"></div>
            <div class="misc">
                <span v-if="m.overrides">Overrides&nbsp;<code>`{{ m.overrides }}`</code></span>
                <span v-if="m.inherits">Inherited from&nbsp;<code>`{{ m.inherits }}`</code></span>
                <span v-if="showSource(m.source)"> in <a class="sourceLink" v-bind:href="source(m.source)">{{m.source[0][0]}}</a></span>
            </div>
          </div>
        </div>
        
      
        <div v-if="contents.accessors && contents.accessors.length > 0">
          <h3>Accessors</h3>
          <div v-for="m in contents.accessors">
            <h4 v-bind:id="'accessor_'+m.name">
              <span class="token" v-if="m.getter">GET</span>
              <span class="token" v-if="m.setter">SET</span>
              {{ m.name }} <span class="param">: {{ m.getter.type || m.setter.parameters.type || "" }}</span>
            </h4>
            
            <div v-html="md(m.comment)"></div>
            <div class="misc">
                <span v-if="m.overrides">Overrides&nbsp;<code>`{{ m.overrides }}`</code></span>
                <span v-if="m.inherits">Inherited from&nbsp;<code>`{{ m.inherits }}`</code></span>
                <span v-if="showSource(m.source)"> in <a class="sourceLink" v-bind:href="source(m.source)">{{m.source[0][0]}}</a></span>
            </div>

            <div v-if="m.getter" v-html="md(m.getter.comment)"></div>
            <div v-if="m.setter" v-html="md(m.setter.parameters.comment)"></div>
          </div>
        </div>


        <div v-if="contents.methods && contents.methods.length > 0">
          <h3>Methods</h3>
          <div v-for="m in contents.methods">
            <h4 v-bind:id="'function_'+m.name">
              <span v-if="m.flags && m.flags.isStatic" class="token">STATIC</span> 
              {{ m.name }} 
              <span class="param">( {{ params(m.signatures) }} )</span>
            </h4>
            <div>
              <div v-for="s in first(m.signatures)">
                
                <div class="description" v-html="md(s.comment)"></div>
                <div class="misc">
                  <span v-if="m.overrides">Overrides&nbsp;<code>`{{ m.overrides }}`</code></span>
                  <span v-if="m.inherits">Inherited from&nbsp;<code>`{{ m.inherits }}`</code></span>
                  <span v-if="showSource(m.source)"> in <a class="sourceLink" v-bind:href="source(m.source)">{{m.source[0][0]}}</a></span>
                </div>
              
                <div class="signature" v-if="s.parameters.length > 0">
                  <div class="label">Parameters</div>
                  <div class="info">
                    <div v-for="p in s.parameters">
                      <span><span class="paramdef">{{ p.name }}</span>: <span class="typedef">{{ p.type}}</span></span> 
                      <div v-html="md(p.comment)"></div>
                    </div>
                  </div>
                </div>
                
                <div class="signature">
                  <div class="label">Returns</div>
                  <div class="info"><span class="paramdef">{{ s.returns }}</span></div>
                </div>
              
              </div>
            </div>
          </div>
        </div>

        <div v-if="contents.type_alias && contents.type_alias.length > 0">
          <h3>Types</h3>
          <div v-for="m in contents.type_alias"><div v-html="md(m)"></div></div>
        </div>

      </div>
    </div>

    <script type="text/javascript" src="./js/doc.js"></script>
  </body>
</html>