body {
  padding: 0; margin: 0;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.35;
  box-sizing: border-box;
  overflow: hidden;
}

iframe {
  display: block;
  border: none;
  width: 50vw;
  height: 100vh;
}

#editor {
  position: absolute;
  top: 70px; right: 0px; left: 50vw; bottom: 0; 
  border-top: 1px solid #42e;
  overflow: hidden;
}

#loader {
  position: absolute;
  left: 50vw; right: 0; top: 50vh;
  font-size: 1.5em;
  color: #9ab;
  text-align: center;
}

#menu {
  position: absolute;
  left: 50vw; right: 0; top: 0; height: 70px;
  box-sizing: border-box;
  clear: both;
}

#loadmenu {
  position: absolute;
  top: 0; bottom: 0; right: -30vw;
  width: 25vw;
  background-color: #123;
  transition: right .5s;
  padding: 20px;
  overflow: auto;
}

#loadmenu.open {
  right: 0;
}

#loadmenu .demo {
  font-size: 12px;
  padding: 5px 10px;
  color: #fff;
  line-height: 2;
  margin: 0;
  cursor: pointer;
}

#loadmenu .demo:hover {
  color: #0c6;
}

#closemenu {
  position: absolute;
  top: 0; right: 0; width: 40px; height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

#closemenu:hover {
  color: #0c6;
}

#run {
  float: right;
}


.cta {
  display: inline-block;
  
  font-size: 1.2em;
  font-weight: 600;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  color: #42e;
  cursor: pointer;
  box-sizing: border-box;
}

.cta:hover {
  background: #42e;
  color: #fff
}

.cta small {
  font-weight: 400;
  font-size: 0.7em;
  color: #abc;
}

@media only screen and (max-device-width : 1050px), screen and (max-width : 1050px) {
  #menu small { display: none; }
  .cta {
    padding: 0 15px;
  }
}


@media only screen and (max-device-width : 768px), screen and (max-width : 768px) {
  #loadmenu, #demo, #load, #save, #run, #docs { display: none;}

  #editor, #menu, #loader {
    left: 0;
  }


  #back::after {
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    color: #9ab;
    padding-left: 15px;
    content: "(You can run this code in larger window)"
  }
}